<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
  <ion-card>
    <ion-card-content>
      <ion-button>Chamar senha</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-list-header>Últimas senhas chamadas:</ion-list-header>
        <ion-item *ngFor="let senha of senhasService">
          <ion-icon name="{{senha.icon}}" slot="start" color="{{senha.color}}"></ion-icon>
          {{senha.senha}}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
