<!-- tab2.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card-content>
  <ion-button expand='block' (click)="chamarProximaSenha()">Chamar Próxima Senha</ion-button>
  <ion-button expand='block' (click)="calcularTempoMedioAtendimento('Prioritária')">Calcular TM Prioritária</ion-button>
  <ion-button expand='block' (click)="calcularTempoMedioAtendimento('Geral')">Calcular TM Geral</ion-button>
  <ion-button expand='block' (click)="obterUltimasSenhasChamadas()">Últimas Senhas Chamadas</ion-button>
</ion-card-content>
</ion-content>
