<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>RELATÓRIOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="display: flex;">

    <!-- Container Esquerdo -->
    <div style="flex: 1; padding-right: 10px;">
      <ion-card>
        <ion-card-content>
          <ion-list>
            <ion-label>Total de Senhas Emitidas</ion-label>
            <ion-item>Senhas Emitidas: {{senhasService.qtdSenhasTotal}}</ion-item>
            <ion-item>Senhas Geral: {{senhasService.qtdSenhasGeral}}</ion-item>
            <ion-item>Senhas Prioritária: {{senhasService.qtdSenhasPrior}}</ion-item>
            <ion-item>Senhas Exames: {{senhasService.qtdSenhasExame}}</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>

    
    <div style="flex: 1; padding-left: 10px;">
      
      <ion-card>
        <ion-card-content>
          <ion-list>
            <ion-label>Total de Senhas Atendidas</ion-label>
            <ion-item>Senhas Atendidas: {{senhasService.qtdSenhasAtendidas}}</ion-item>
            <ion-item>Senhas Geral: {{senhasService.qtdSenhasAtendidasGeral}}</ion-item>
            <ion-item>Senhas Exames: {{senhasService.qtdSenhasAtendidasExam}} </ion-item>
            <ion-item>Senhas Prioritária: {{senhasService.qtdSenhasAtendidasPrior}}</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>

  </div>
</ion-content>

