<ion-toolbar color="medium">
  <ion-title size="large">
    RELATÓRIO
  </ion-title>
</ion-toolbar>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>SENHAS EMITIDAS: {{senhasService.senhasTotal}}</ion-item>
        <ion-item>SENHAS GERAIS: {{senhasService.senhasGeral}}</ion-item>
        <ion-item>SENHAS PRIORITÁRIAS: {{senhasService.senhasPrior}}</ion-item>
        <ion-item>SENHAS EXAME: {{senhasService.senhasExame}}</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
