<ion-card>
  <ion-card-header>
    <ion-label>Sua Senha:</ion-label>
    <ion-input readonly="true" value="{{ inputNovaSenha }}"></ion-input>
  </ion-card-header>
  
  <ion-card-content>
    <ion-button expand="block" color="danger" (click)="gerarSenha('SG')">
      Senha Geral
    </ion-button>

    <ion-button expand="block" color="danger" (click)="gerarSenha('SP')">
      Senha Prioritária
    </ion-button>

    <ion-button expand="block" color="danger" (click)="gerarSenha('SE')">
      Senha de Exame
    </ion-button>

    <ion-label *ngIf="tipoSenhaSelecionada !== ''">
      Gerando senha do tipo: <br> <strong>{{ tipoSenhaSelecionada }}</strong>
    </ion-label>

    <br>

    <ion-list slot="">
      <ion-label>Últimas senhas geradas:</ion-label>
      <ion-item *ngFor="let senha of ultimasSenhas">
        {{ senha }}
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
