<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PAINEL DE CHAMADA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-list>
      <ion-label class="rotulo">Senha Chamada</ion-label>
      <ion-item class="item">{{senhasService.ultimaSenhaChamada}}</ion-item>
      <ion-label class="rotulo">Guiche</ion-label>
      <ion-item class="item">{{senhasService.guiche}}</ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-label>Últimas Senhas Chamadas</ion-label>
        <ion-item>{{senhasService.arrayUltimasSenhasChamadas[0]}}</ion-item>
        <ion-item>{{senhasService.arrayUltimasSenhasChamadas[1]}}</ion-item>
        <ion-item>{{senhasService.arrayUltimasSenhasChamadas[2]}}</ion-item>
        <ion-item>{{senhasService.arrayUltimasSenhasChamadas[3]}}</ion-item>
        <ion-item>{{senhasService.arrayUltimasSenhasChamadas[4]}}</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
