#bloco{
    --ion-background-color: #ffffff;
    justify-content: center;
    align-items: center;
}

#tab{
    --ion-background-color:#ffffff;
}

#botao{
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}