<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PAINEL AGENTE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-list>
      <ion-label>Selecione para chamar para seu Guichê:</ion-label>
      <ion-button color="primary" expand="block" (click)="senhasService.guiche01()">Guichê 1</ion-button>
      <ion-button color="warning" expand="block" (click)="senhasService.guiche02()">Guichê 2</ion-button>
      <ion-button color="success" expand="block" (click)="senhasService.guiche03()">Guichê 3</ion-button>
      <ion-button color="danger"  expand="block" (click)="senhasService.guiche04()">Guichê 4</ion-button>
    </ion-list>
  </ion-card>
    <ion-label>ÚLTIMA SENHA CHAMADA</ion-label>
    <ion-item>{{senhasService.ultimaSenhaChamada}}</ion-item>
    <ion-label>DIRIGIR-SE AO GUICHE: </ion-label>
    <ion-item>{{senhasService.guiche}}</ion-item>
   <ion-card>
 </ion-card>
</ion-content>
