<ion-content>
  <ion-card style="max-height: 40vh; overflow-y: auto;">
    <ion-card-header>
      <ion-input readonly="true" label="Escolha sua senha: "></ion-input>
    </ion-card-header>
    <ion-card-content>
      <ion-button
        expand="block"
        color="primary"
        (click)="senhasService.novaSenha('SG')"
        >Senha Geral</ion-button
      >
      <ion-button
        expand="block"
        color="success"
        (click)="senhasService.novaSenha('SP')"
        >Senha Prioritária</ion-button
      >
      <ion-button
        expand="block"
        color="warning"
        (click)="senhasService.novaSenha('SE')"
        >Senha Exame</ion-button
      >
    </ion-card-content>
  </ion-card>

  <ion-card style="max-height: 60vh; overflow-y: auto;">
    <ion-card-content>
      <ion-list-header>Últimas Senhas Geradas:</ion-list-header>
      <ion-item *ngFor="let senha of senhasService.senhas">
        <ion-icon
          [name]="iconName(senha.tipo)"
          [color]="iconColor(senha.tipo)"
          slot="start"
        ></ion-icon>
        <ion-label>{{ senha.numero }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
