<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GERADOR DE SENHAS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-button expand="block" (click)="senhasService.gerarSenhaGeral()">Senha Geral</ion-button>
      <ion-button expand="block" (click)="senhasService.gerarSenhaPrior()">Senha Prioritária</ion-button>
      <ion-button expand="block" (click)="senhasService.gerarSenhaExame()">Senha Exame</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-label>SUA SENHA</ion-label>
        <ion-item>{{senhasService.ultimaSenhaEmitida}}</ion-item>
        <ion-item>{{senhasService.relatorioGeral}}</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
