<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-button
        expand="block"
        color="primary"
        (click)="chamarProximaSenha()"
        >Chamar próxima senha</ion-button
      >
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content style="max-height: 60vh; overflow-y: auto;">
      <ion-list-header>Senhas atendidas</ion-list-header>
      <ion-item *ngFor="let senha of senhasService.senhasChamadas">
        <ion-icon
          [name]="iconName(senha.tipo)"
          [color]="iconColor(senha.tipo)"
          slot="start"
        ></ion-icon>
        <ion-label>{{ senha.numero }}</ion-label>
        <ion-label>{{ senha.tempoDecorrido }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>



