<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-list>
      <ion-input readonly="true" label="Senhas Prioritárias: " value="{{senhasService.senhasAtendidas['SP'].slice(-5)}}">Arraste para ver mais</ion-input>
      <ion-input readonly="true" label="Senhas Gerais: " value="{{senhasService.senhasAtendidas['SG'].slice(-5)}}"></ion-input>
      <ion-input readonly="true" label="Senhas de Exame: " value="{{senhasService.senhasAtendidas['SE'].slice(-5)}}"></ion-input>
    </ion-list>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" (click)="chamarSenhaSP()">Chamar senha Prioritária</ion-button>
      <ion-button expand="block" (click)="chamarSenhaSG()">Chamar senha Geral</ion-button>
      <ion-button expand="block" (click)="chamarSenhaSE()">Chamar senha de Exame</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>