<ion-card>
  <ion-card-content>
    <ion-list>
      <ion-label>Relatório</ion-label>
      <ion-button expand="block" color="danger" (click)="chamarProximaSenha()">
        Chamar Próxima Senha
      </ion-button>

      <ion-item *ngIf="senhaChamada !== ''">
        <ion-label>Senha Chamada:</ion-label>
        <ion-badge>{{ senhaChamada }}</ion-badge>
      </ion-item>

      <ion-item *ngIf="ultimasSenhasChamadas.length > 0">
        <ion-label>Últimas Senhas Chamadas:</ion-label>
      </ion-item>
      <ion-item *ngFor="let senha of ultimasSenhasChamadas">
        <ion-label>{{ senha }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>